{% extends 'base.html' %} {% block content %} {% load static %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/main/product_detail_page.css'%}"
/>
<div class="product-detail-page">
  <img src="{{product.image_url}}" style="width: 100px" />
  <div class=product-detail>
    <p>샛별배송</p>
    <p>상품명: {{product.name}}</p>
    <div class="product-detail-price">
      <p>{{product.discount_rate}} %</p>
      <p>할인가: {{product.discount_price}} 원</p>

  </div>
  <div class ="product-detail-footer"></div>

  
</div>


<p>{{product.name}}</p>
<p>{{product.discount_rate}}%</p>
<p>{{product.discount_price}} 원</p>
<p>{{product.notice}}</p>
<!-- 데이터 사용 예시 -->

<script src="{% static 'js/main/product_detail_page.js'%}"></script>
{% endblock %}
